body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: rgb(7, 213, 240);
    color: white;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
}
a:hover{
    background-color: rgb(6, 184, 207);
    color: black;
    border-radius: 4px;
    padding: 10px;
    padding-top: 5px;
}
ul li{
    list-style: none;
    display: flex;
}
div{
    margin-top: 10px;
    background-color: rgb(7, 213, 240);
    width: 500px;
    height: 80px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
    transition: 0.3s;
}
div:hover{
    width: 550px;
    height: 150px;
    font-size: 25px;
}
p{
    margin-top: 10px;
    background-color: rgb(7, 213, 240);
    height: 50px;
    width: 500px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40px;
    border: 1px solid black;
    font-size: 20px;
    transition: 0.3s;
}
p:hover{
    width: 550px;
    height: 50px;
    font-size: 25px;
}
